input[type="text"],
textarea,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 0px;
  font-family: "BlockBertholdRegular";
}

::-webkit-input-placeholder {
  font-family: "font";
  color: #101010;
  text-transform: uppercase;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: "BlockBertholdRegular";
}

p,
label {
  font-family: "font2";
}

body {
  font-family: "BlockBertholdRegular";
  background: #000000;
}

.btn-success {
  display: inline-block;
}

.panel {
  float: left;
  width: 100%;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  background: none;
  border: none;
}

.flush {
  padding: 0px;
}

.flush-left {
  padding-left: 0px;
}

.flush-right {
  padding-right: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

section {
  float: left;
  width: 100%;
}

.panel {
  float: left;
  width: 100%;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  background: none;
  border: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tableRow {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.tableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.modal-content {
  border: none;
}

@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlockBE-Heavy";
  src: url("../fonts/BlockBE-Heavy.eot");
  src: url("../fonts/BlockBE-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BlockBE-Heavy.woff2") format("woff2"),
    url("../fonts/BlockBE-Heavy.woff") format("woff"),
    url("../fonts/BlockBE-Heavy.ttf") format("truetype"),
    url("../fonts/BlockBE-Heavy.svg#BlockBE-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("../fonts/font.eot");
  src: url("../fonts/font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font.woff2") format("woff2"),
    url("../fonts/font.woff") format("woff"),
    url("../fonts/font.ttf") format("truetype"),
    url("../fonts/font.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font2";
  src: url("../fonts/font2.eot");
  src: url("../fonts/font2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font2.woff2") format("woff2"),
    url("../fonts/font2.woff") format("woff"),
    url("../fonts/font2.ttf") format("truetype"),
    url("../fonts/font2.svg#font2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlockBertholdRegular";
  src: url("../fonts/BlockBertholdRegular.eot");
  src: url("../fonts/BlockBertholdRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BlockBertholdRegular.woff2") format("woff2"),
    url("../fonts/BlockBertholdRegular.woff") format("woff"),
    url("../fonts/BlockBertholdRegular.ttf") format("truetype"),
    url("../fonts/BlockBertholdRegular.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Header Style */

#header .navbar-default .navbar-nav li {
  width: 100%;
  display: inline-block;
  padding: 0px 0px;
}

#header .navbar-default .navbar-nav li a {
  color: #cfc8b6;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "font";
  line-height: 20px;
}

.navbar-default {
  background: none;
  border: none;
}

#header .navbar-default .navbar-nav li.active a,
#header .navbar-default .navbar-nav a:hover,
#header .navbar-default .navbar-nav a:focus {
  background: #2e3271;
  color: #fff;
}

#header .m-top {
  margin-top: 10px;
}

/* Banner Style */

#banner h2 {
  color: #ffffff;
  font-size: 130px;
  /*font-family: "BlockBertholdRegular";*/
  line-height: 0.9;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

#banner h3 {
  color: #ffffff;
  font-size: 90px;
  line-height: 0.9;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

/* Content Style */

#content .title {
  float: left;
  width: 100%;
  padding: 20px 0px;
}

#content .title h6 {
  font-size: 16px;
  font-family: "font";
  color: #e2e2e2;
  text-transform: uppercase;
  font-weight: normal;
}

#content .title p {
  font-size: 16px;
  font-family: "font";
  color: #e2e2e2;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "font2";
  line-height: 1.2;
}

.white {
  float: left;
  width: 100%;
  background: #e2e2e2;
  border-radius: 5px;
  padding: 25px;
}

.white a.close-icon {
  float: left;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #b8b8b8;
  opacity: 1;
  text-shadow: none;
}

.white a.close-icon .fa {
  font-size: 16px;
  color: #101010;
}

.white h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "BlockBertholdRegular";
  color: #101010;
}

.white .insta {
  color: #101010;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 35px;
  display: inline-block;
  font-family: "font";
}

.white .insta .fa {
  margin-right: 15px;
}

.details {
  float: left;
  width: 100%;
  padding: 25px 0px;
}

.normal-t-b {
  padding: 15px 0px;
}

.details p {
  text-transform: uppercase !important;
  color: #101010 !important;
}

.details img {
  width: 100%;
}

.details .p-top {
  padding-top: 150px;
}

.panel-group .panel-title a {
  display: inline-block;
  width: 100%;
  /*background: url(../img/down-arrow.png) 0px 36% no-repeat;*/
}



.panel-default > .panel-heading {
  background: none;
  border: none;
}

.panel-body img {
  width: 100%;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.panel-body p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.panel-body span {
  color: #ffffff;
  font-size: 16px;
  font-family: "font";
}

.tableRow.v-bottom,
.tableCell.v-bottom {
  vertical-align: bottom;
}

.panel-body .text-content {
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

.panel-body .text-content a {
  color: #fff;
  font-size: 14px;
  font-family: "font";
  text-transform: uppercase;
}

.panel-body .text-content .fa {
  font-size: 16px;
  color: #fff;
  margin: 0px 15px;
}

.panel-body .images {
  float: left;
  width: 100%;
}

.panel-body .images a.in {
  float: left;
  width: 100%;
  position: relative;
  text-decoration: none;
}

.panel-body .images a.in:hover .overlay {
  display: block;
}

.panel-body .images .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 0px 30px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.panel-body .images .overlay .btn-info {
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: "font";
  line-height: 30px;
  text-align: left;
  width: 60%;
  padding: 0px 15px;
  border-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  float: right;
}

.panel-body .images .overlay h4 {
  color: #e2e2e2;
  font-size: 25px;
  text-transform: uppercase;
}

.row-details {
  float: left;
  width: 100%;
  padding: 15px 0px;
}

.row-details h5 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: "font";
  margin-top: 20px;
}

.details h4 {
  font-size: 18px;
  font-family: "font";
  color: #101010;
  text-transform: uppercase;
}

form .field {
  float: left;
  width: 100%;
  padding: 10px 0px;
}

form .field input {
  background: #e5e5e5;
  border: 1px solid #d7d7d7;
  height: 35px;
  padding-left: 15px;
  border-radius: 4px;
  color: #101010;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  font-family: "Open sans", sans-serif;
}

form button {
  background: #e5e5e5;
  border: 1px solid #d7d7d7;
  height: 35px;
  padding-left: 15px;
  font-family: "Open sans", sans-serif;
  border-radius: 4px;
  color: #101010;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

:-webkit-input-placeholder {
  /* Edge */
  color: #101010;
  font-family: "Open sans", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #101010;
  font-family: "Open sans", sans-serif;
}

::placeholder {
  color: #101010;
  font-family: "Open sans", sans-serif;
}

/* Footer Style */
#footer {
  padding: 100px 0px;
}

#footer ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}

#footer ul li a {
  color: #cfc8b6;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "font";
  line-height: 20px;
  text-decoration: none;
}

#footer ul.social li {
  width: auto;
  display: inline-block;
  padding: 0px 5px;
}

#footer p {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

#footer ul.social li a {
  color: #cfc8b6;
  font-size: 20px;
}

.navbar-right {
  width: auto;
  float: right;
}

.navbar-header {
  float: right;
  width: 100px;
}

.navbar-right a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: center;
}

#wpp {
  display: block;
  width: 62px;
  height: 62px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: url("../img/wpp-ico.png") no-repeat center;

}

/*****======= Responsive Style Css ======***********/

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  
  .navbar-default .navbar-toggle {
    margin-top: 10px;
    margin-right: 0px;
    border: 0px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #fff !important;
  }

  #header .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #000;
  }

  .flush-right {
    padding-right: 15px;
  }

  #banner h2 {
    font-size: 75px;
  }

  #content .title p {
    padding-left: 15px;
  }

  .panel-group .panel-title a {
    background-position: 0px 30% !important;
  }

  #navbar-1 a {
    color: #cfc8b6;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "font";
    line-height: 20px;
  }

  #content .row-eq-height {
    display: inline-block;
  }

  .details .p-top {
    padding-top: 50px;
  }

  .flush-xs {
    padding-left: 0px;
    padding-right: 0px;
  }


  #footer ul {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/* Portrait tablets and small desktops */


  #content .title h6 {
    padding-left: 20px;
  }


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1169px) {
}



.list {
	display: flex;
	flex-wrap: wrap;
}

.list__item {
	flex: 0 0 100%;
	overflow: hidden;
	/* max-height: 338.33px !important; */
	/* padding: 10px; */
}

.list__item a {
	height: 100%;
	display: block;
}

.list__item img {
	max-height: 338.33px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
	.list {
		display: flex;
		flex-wrap: wrap;
	}

	.list__item {
		flex: 0 0 33.333333%;
		overflow: hidden;
		max-height: 338.33px !important;
		padding: 10px;
	}

	.list__item a {
		height: 100%;
		display: block;
	}

	.list__item img {
		max-height: 338.33px !important;
	}
}
@media (min-width: 992px) {
	.list {
		display: flex;
		flex-wrap: wrap;
	}

	.list__item {
		flex: 0 0 33.333333%;
		overflow: hidden;
		max-height: 338.33px !important;
		padding: 10px;
	}

	.list__item a {
		height: 100%;
		display: block;
	}

	.list__item img {
		max-height: 338.33px !important;
	}
}


.insta.instagram-link span {
	color: #000;
}
.swal2-title{
	font-weight: 400;
	font-size: 31px;
}